protocols {
  bgp {
    bfd-liveness-detection {
        minimum-interval {{ underlay.bfd.min-interval }};
        multiplier {{ underlay.bfd.multiplier }};
        session-mode {{ underlay.bfd.mode }};
    }
}
