protocols {
  bgp {
    bfd-liveness-detection {
        minimum-interval {{ underlay.bfd.minimum_interval }};
        multiplier {{ underlay.bfd.multiplier }};
        session-mode {{ underlay.bfd.session_mode }};
    }
}
