- name: "Build Topology"
  block:
    - name: "Create directories"
      file:
        path: "/darkbulb/topologies/files/{{ vagrant_template_dir.path }}"
        state: directory
      with_filetree: "templates/{{ provider }}"
      when: vagrant_template_dir.state == 'directory'
      loop_control:
        loop_var: vagrant_template_dir

    - name: "Process Vagrant Templates"
      template:
        src: "{{ vagrant_template_file.src }}"
        dest: "/darkbulb/topologies/files/{{ vagrant_template_file.path }}"
      with_filetree: "templates/{{ provider }}"
      when: vagrant_template_file.state == 'file'
      loop_control:
        loop_var: vagrant_template_file
