{% if underlay.ebgp.import is defined %}
  policy-statement {{ underlay.ebgp.import }} {
    term set-default {
      then default-action reject;
    }

    {%- if underlay.policy.ebgp.ingress is defined    %}
    {%-  for ingress in underlay.policy.ebgp.ingress   %}
    {%-    if ingress.name is defined                 %}
    term from-route-{{ ingress.name }} {

      from {
      {%- for network in ingress.networks %}
        route-filter {{ network }} orlonger;
      {%- endfor %}
      }

      then {
      {%- if ingress.action is defined %}
        {{ ingress.action }};
      {%- else %}
        reject;
      {%- endif %}
      }
    }
    {% endif %}
    {% endfor %}
    {% endif %}
  }
{% endif %}

  as-path asPathLength2 ".{2,}";
{% for ingress in underlay.policy.ebgp.ingress %}
  community from-{{ ingress.community.name }} members {{ ingress.community.tag }};
{% endfor %}
