underlay:
  ebgp:
    neighbors:
      - name: spine1
        asn: "{{ hostvars['spine01'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['spine01'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"

      - name: spine2
        asn: "{{ hostvars['spine02'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['spine02'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"

      - name: leaf01
        asn: "{{ hostvars['leaf01'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['leaf01'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"

      - name: leaf02
        asn: "{{ hostvars['leaf02'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['leaf02'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"

      - name: leaf03
        asn: "{{ hostvars['leaf03'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['leaf03'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"

      - name: leaf04
        asn: "{{ hostvars['leaf04'].underlay.ebgp.asn }}"
        peer: "{{ hostvars['leaf04'].underlay.ip.lo0 }}"
        local: "{{ hostvars[inventory_hostname_short].underlay.ip.lo0 }}"
