interfaces {
{% for interface, address in underlay.ip.iteritems() %}
    {{ interface }} {
      unit 0 {
        family inet {
            address {{ address }};
        }
      }
    }
{% endfor %}
}
